footer{
    position: absolute;
    color:white;
    height: 70px;
    width: 100%;
    border-top:1px solid #CCCCCC ;
    bottom: 0;

}
footer p{
    position: absolute;
    top: 8%;
    left: 50%;
    color: #484848;

}