header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
}
/* Logo Styles*/
header.logo{
    margin-left: 20px;
}